@import '../libs/reset.css'

html, body
  position relative
  min-width 960px
  font-family 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif
  // font-family 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'メイリオ', Meiryo, serif
  font-size 15px
  line-height 1
  // font-feature-settings 'palt'
  // -webkit-font-smoothing antialiased

a
  text-decoration inherit
  color inherit
  // -webkit-tap-highlight-color rgba(0,0,0,0)

img
svg
video
iframe
picture
  display block
  width 100%
// .parent
//   position relative
//   height: 100vh
//   margin 10vh 0px
// .child
//   opacity 0
//   position sticky
//   top 50%
//   left 50%
//   width: 250px;
//   height: 150px
//   background-image url(../img/icon.jpg)
//   background-size cover
//   transform translate(-50%,-50%)
//   transition opacity 500ms easeInOutQuad
//   i::before 
//     content: "";
//     position: absolute;
//     background-color #f97242;
//     transition transform 100ms easeInOutQuart 
//     transform scaleX(0)
//   i::after
//     content: "";
//     position: absolute;
//     background-color #f97242;
//     transition transform 100ms easeInOutQuart
//     transform scaleY(0)

//   k=50 l=200
//   i:nth-of-type(1):before
//     transition-delay l + (1 * k)ms
//   i:nth-of-type(1):after  
//     transition-delay l + (2 * k)ms
//   i:nth-of-type(2):before
//     transition-delay l + (3 * k)ms
//   i:nth-of-type(2):after
//     transition-delay l + (4 * k)ms
// .text
//   position absolute
//   left -25%
//   top 50%
//   width 100vh
//   padding 7px
//   color transparent
//   background-color #f3462d
//   font-size 13px
//   font-weight bold
//   letter-spacing 0.4em
//   text-align center
//   text-transform uppercase
//   transform scaleX(0)
//   transition transform 500ms 500ms easeInOutQuart, color 500ms 1000ms easeInOutQuad

// .child.inview--enter
//   opacity 1
//   i:nth-of-type(1):before
//     top: 20px;
//     right: 20px;
//     width: 250px;
//     height: 2px;
//     transform scaleX(1)
//     transform-origin left
//   i:nth-of-type(2):before
//     top: 170px;
//     right: 20px;
//     width: 250px;
//     height: 2px;
//     transform scaleX(1)
//     transform-origin right
//   i:nth-of-type(1):after
//     top: 20px;
//     right: 20px;
//     width: 2px;
//     height: 150px;
//     transform scaleY(1)
//     transform-origin top
//   i:nth-of-type(2):after
//     top: 20px;
//     left: -20px;
//     width: 2px;
//     height: 150px;
//     transform scaleY(1)
//     transform-origin bottom
//   .text
//     color white
//     transform scaleX(1)
//     transform-origin left
// // text1
// .text1
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto
  
//   span
//     display inline-block
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0

// for i in (1..7)
//   .text1
//     span:nth-child({i})
//       transition opacity 200ms easeInOutQuart
//       transition-delay (50 * i)ms

// .text1.inview--enter
//   span
//     opacity 1
// // text2
// .text2
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto

//   span
//     display inline-block//これ必要
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0
//     transform translateY(100%)
//     transition transform 500ms easeInOutBack, opacity 800ms 

// for i in (1..7)
//   .text2
//     span:nth-child({i})
//       transition-delay (30 * i)ms

// .text2.inview--enter
//   span
//     opacity 1
//     transform translateY(0px)

// // text3
// .text3
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto

//   span
//     display inline-block
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0
//     transform rotate(40deg) 
//     transition transform 300ms easeInOutQuart, opacity 300ms

// for i in (1..7)
//   .text3
//     span:nth-child({i})
//       transition-delay (100 * i)ms

// .text3.inview--enter
//   span
//     opacity 1
//     transform rotate(0deg)

// //text4
// .text4
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto

//   span
//     display inline-block
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0
//     transform scale(0.3)
//     transition transform 300ms easeInOutQuad, opacity 300ms 

// for i in (1..7)
//   .text4
//     span:nth-child({i})
//       transition-delay (50 * i)ms

// .text4.inview--enter
//   span
//     opacity 1
//     transform scale(1)

// //text5
// .text5
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto

//   span
//     display inline-block
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0
//     transform rotate(30deg) translateY(100%)
//     transition transform 700ms easeInOutQuart, opacity 700ms 

// for i in (1..7)
//   .text5
//     span:nth-child({i})
//       transition-delay (10 * i)ms

// .text5.inview--enter
//   span
//     opacity 1
//     transform rotate(0deg) translateY(0)

// //text6
// .text6
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto

//   span
//     display inline-block
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0
//     transition transform 700ms easeInOutQuart, opacity 700ms 
//     &:nth-child(2n)
//       transform translateY(100%)
//     &:nth-child(2n+1)
//       transform translateY(-100%)

// .text6.inview--enter
//   span
//     opacity 1
//     transform translateY(0)

// //text7
// .text7
//   display block
//   overflow hidden
//   width 250px
//   height auto
//   margin 100vh auto
//   span
//     display inline-block
//     padding 5px
//     color black !important
//     font-size 30px
//     opacity 0
//     transition transform 700ms easeInOutQuart, opacity 700ms 

// for i in (1..7)
//   .text7
//     span:nth-child({i})
//       transition-delay (-100 * i)ms
//       transform translateX((-100 * i) px)

      
// .text7.inview--enter
//   span
//     opacity 1
//     transform translateX(0)

// //text8
// .text8
//   display block
//   overflow hidden
//   position relative
//   width 250px
//   height auto
//   margin 100vh auto
//   span 
//     color black
//     font-size 30px
//     letter-spacing 0.5em
//     line-height 40px
//     opacity 0
//     transition opacity 10ms 300ms

//   &::before
//     display block
//     content ""
//     position absolute
//     width 100%
//     height 100%
//     background-color black 
//     transform translateX(-100%)
   
// .text8.inview--enter
//   span 
//     opacity 1
//   &::before
//     animation cover 700ms 0s easeInOutQuart forwards
// @keyframes cover
//   0%
//     transform translateX(-100%)
//   40%
//     transform translateX(0)
//   60%
//     transform translateX(0)
//   100%
//     transform translateX(100%)

.content
  margin 0 auto
  width 700px
  min-height 100vh
  clearfix()
.box
  position relative
  background-color red
  width 300px
  height 500px
  margin 0 20px
  float right

  &:nth-child(2)
    margin-top 100px
  &:nth-child(n+1)
    margin-bottom 40px
  &:nth-child(n+2)
    margin-bottom 100px
  &:nth-child(n+3)
    margin-bottom 10px
  &:nth-child(n+4)
    margin-bottom 100px

  
  &__img
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 100px
    height 50px
    background-color blue
    
  &:nth-child(even)
    float left
  
// responsive
@media screen and (min-width: (BREAKPOINT + 1)px)
  .mo_op
    display inline-block
    transition (opacity 160ms ease-in-out)
    -webkit-font-smoothing antialiased

    &:hover
      opacity 0.65

  .sp
    display none !important

@media screen and (max-width: (BREAKPOINT)px)
  html, body
    min-width 320px

  .pc
    display: none !important

  .content
    width (700*mn)
  .box
    margin (30*mn) auto
    float none

    &:nth-child(2)
      margin-top 0px
    &:nth-child(n+1)
      margin-bottom (30*mn)
    &:nth-child(n+2)
      margin-bottom (30*mn)
    &:nth-child(n+3)
      margin-bottom (30*mn)
    &:nth-child(n+4)
      margin-bottom (30*mn)   
    &:nth-child(even)
      float none